<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WalletPlusSuite">
  <test name="CreateAccountTest">
    <classes>
      <class name="com.wallet.qa.tests.LoginPageTest"/>
      <class name="com.wallet.qa.tests.RegisterpageTest"/>
    </classes>
  </test> <!-- CreateAccountTest -->
</suite> <!-- WalletPlusSuite -->
